<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="package com.theonefive.checkin.model.mapper.CheckinMapper">
	<select id="selectTodayCheckinList" parameterType="" resultType="CheckinDTO">
	
	</select>
	<select id="selectTodayCheckoutList" parameterType="" resultType="CheckinDTO">
	
	</select>
	<select id="selectCheckinDetail" parameterType="int" resultType="CheckinDTO">
	
	</select>
	<update id="insertCheckin" parameterType="CheckinDTO">
	
	</update>
	<update id="updateCheckin" parameterType="CheckinDTO">
	
	</update>
	<select id="selectCheckinById" parameterType="int" resultType="CheckinDTO">
	
	</select>
</mapper>
