<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theonefive.reservation.model.mapper.ReservationMapper">
	<select id="findAll" resultType="ReservationDTO">
        SELECT
            ID, CODE, GUEST_ID, ROOM_TYPE_ID, ROOM_ID,
            CHECKIN, CHECKOUT, GUEST_COUNT, STATUS,
            ROOM_AMOUNT, DISCOUNT_AMOUNT, TOTAL_AMOUNT,
            PAYMENT_METHOD, REQUEST, CREATED_BY, CREATED_AT
        FROM RESERVATION
        ORDER BY CREATED_AT DESC
    </select>
    
    <select id="findById" parameterType="long" resultType="ReservationDTO">
        SELECT
            ID, CODE, GUEST_ID, ROOM_TYPE_ID, ROOM_ID,
            CHECKIN, CHECKOUT, GUEST_COUNT, STATUS,
            ROOM_AMOUNT, DISCOUNT_AMOUNT, TOTAL_AMOUNT,
            PAYMENT_METHOD, REQUEST, CREATED_BY, CREATED_AT
        FROM RESERVATION
        WHERE ID = #{id}
    </select>
</mapper>

