<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theonefive.room.model.mapper.RoomMapper">
	<select id="selectRoomList" resultType="RoomDTO">
		SELECT R.ID AS id, R.ROOM_NUM AS roomNum, R.TYPE_ID AS typeId, R.FLOOR AS floor, R.STATUS AS status, R.MEMO AS memo, RT.NAME AS typeName, C.NAME AS guestName
		FROM ROOM R JOIN ROOM_TYPE RT ON R.TYPE_ID = RT.ID
		LEFT JOIN CHECKIN_STATUS CS ON R.ID = CS.ROOM_ID AND CS.CHECKIN IS NOT NULL AND CS.CHECKOUT IS NULL
		LEFT JOIN CUSTOMER C ON CS.GUEST_ID = C.ID
		ORDER BY R.FLOOR DESC, R.ROOM_NUM ASC
	</select>
	<select id="selectRoomById" parameterType="int" resultType="RoomDTO">
		SELECT R.ID AS id, R.ROOM_NUM AS roomNum, R.TYPE_ID AS typeId, R.FLOOR AS floor, R.STATUS AS status, R.MEMO AS memo, RT.NAME AS typeName, C.NAME AS guestName, RS.GUEST_COUNT AS guestCount, CS.CHECKIN AS checkinTime, RS.CHECKOUT AS checkoutTime
		FROM ROOM R
		JOIN ROOM_TYPE RT ON R.TYPE_ID = RT.ID
		LEFT JOIN CHECKIN_STATUS CS ON R.ID = CS.ROOM_ID AND CS.CHECKIN IS NOT NULL AND CS.CHECKOUT IS NULL
		LEFT JOIN CUSTOMER C ON CS.GUEST_ID = C.ID
		LEFT JOIN RESERVATION RS ON CS.RESERVATION_ID = RS.ID
		WHERE R.ID = #{roomId}
	</select>
	<select id="selectRoomByFloor" parameterType="int" resultType="RoomDTO">
		SELECT R.ID AS id, R.ROOM_NUM AS roomNum, R.TYPE_ID AS typeId, R.FLOOR AS floor, R.STATUS AS status, R.MEMO AS memo, RT.NAME AS typeName, C.NAME AS guestName
    	FROM ROOM R JOIN ROOM_TYPE RT ON R.TYPE_ID = RT.ID
		LEFT JOIN CHECKIN_STATUS CS ON R.ID = CS.ROOM_ID AND CS.CHECKIN IS NOT NULL AND CS.CHECKOUT IS NULL
		LEFT JOIN CUSTOMER C ON CS.GUEST_ID = C.ID
    	WHERE FLOOR = #{floor}
    	ORDER BY R.ROOM_NUM ASC
	</select>
	<select id="selectAvailableRooms" parameterType="int" resultType="RoomDTO">
	    SELECT ID AS id, ROOM_NUM AS roomNum
	    FROM ROOM
	    WHERE TYPE_ID = #{roomTypeId} AND STATUS = '이용가능'
	    ORDER BY FLOOR DESC, ROOM_NUM ASC
	</select>
	<update id="updateRoomStatus">
		UPDATE ROOM
    	SET STATUS = #{status}
    	WHERE ID = #{roomId}
	</update>
</mapper>
